/* .first {
    background-color: #b4a627;
    color: black;
} */

.icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.icon {
    margin: 10px;
}
  